body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, th, td {
  border: 1px solid black;
}

h1 {
        font-size: 10px;
        color: #0000FF;
}


