extends layout

block content
  p Current student: #{title}
  p List of available students:
  ul
    each col in list_col
      li #{col.name}

  form(name="add-estimation", method="get")
    div.input
      span.label Input student name (*): 
      input(type="text", name="student_name")
      br
      span.label Input class ID: 
      input(type="text", name="class_id")      
    div.actions
      input(type="submit", value="View")

  p 10 latest attendance check:
  .container              
   table.table
      tr
        th class_id
        th timestamp
      tbody
        each i in data
          tr
            td #{i.class_id}
            td #{i.timestamp}
